*{
  box-sizing:border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 37, 88) !important;
  margin: 0;
  padding: 0;
}

.btn-new {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(24, 24, 24) !important;
  text-transform: uppercase;
  margin: 1.5rem;
  padding: 0.2rem;
  border: 2px solid rgb(143, 68, 204);
  border-radius: 0.4rem;
  box-shadow: 0 0.75rem rgb(143, 68, 204), 0 1.125rem rgba(0, 0, 0, 0.63);
  font-size: 3rem;
  font-weight: 500;
  width: 5.63rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  top: 0;
}

.btn-new:hover {
  background-color:rgb(157, 72, 226) !important;
  color: aqua;
  top: 0.25rem;
  box-shadow: 0 0.5rem rgb(143, 68, 204), 0, 0.875rem rgba(0, 0, 0, 0.26);
}

.btn-new:active{
  top: 0.5px;
  box-shadow: 0 0.25rem rgb(143, 68, 204), 0, 0.625rem rgba(0, 0, 0, 0.267);
}

.game {
  flex-wrap: wrap;
}

.game-info {
  margin: 0.938rem;
  color: white;
  height: 1.25rem;
}

.board > div {
  display: flex;
}

.modal-dialog {
  top: 25%;
}

.icon{
  font-size: 3rem;
  color: rgb(49, 68, 85);
  transition: transform .7s ease-in-out;
}

.icon:hover{
  transform: rotate(-360deg) !important;
}

.text-winner{
  color: rgb(255, 251, 9);
  text-transform: uppercase;
}

.my-modal .modal-content {
  background-color: rgb(34, 40, 71) !important;
}

.name{
  background-color: rgb(97, 233, 215) !important;
  border: 0px solid  !important;
}

.button-flag{
  background-color: transparent !important;
  border: none !important;
  color: #cdf80b;
}

.btn-return{
  background-color: rgb(173, 253, 44) !important;
  color: #353f07 !important;
  font-weight: 500 !important;
  border: none !important;
  /* margin-left: 1.5rem !important;
  margin-right: 1.5rem !important; */
}

.case{
  background-color: rgb(173, 253, 44) !important;
}

@media only screen and (max-width: 400px) {
  .btn-new {
    width: 4rem;
    height: 3.5rem;
    padding: 0rem;
    font-size: 2.5rem;
  }
}
